**
!dist/extension.js
!dist/engine/**
!dist/webview/webview.js
!dist/webview/webview.css
!media/syncroom.svg
!media/icon.png
!l10n/**
!package.json
!package.nls.json
!package.nls.es.json
!README.md
!CHANGELOG.md
!LICENSE
